* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  /* font-size: 62.5%; 10px */
}

body {
  background-color: #292425;
  display: flex;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 50%;
}

.container .box > h2 {
  font-size: 2.4rem;
  color: #f0544f;
  text-align: center;
  margin-bottom: 2rem;
}

.container .box input {
  width: 90%;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fdf0d5;
}

.container .box input::placeholder {
  padding-left: 0.5rem;
}

.container .box button {
  width: 5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #d81e5b;
  color: #fff;
}

.container .box button:hover {
  background-color: #eb2063;
}
